:root {
  /* Colors */
  --orange: #fb4a01;
  --orangeLight: #ff7728;
  --silver: #f5f6f7;
  --silverLight: #f4f5f8;
  --silverDark: #eef0f4;
  --icon: #646e77;
  --sidebarWidth: 27%;
  --sidebarGap: 3%;

  --body-bg: #ffffff;
  --body-color: #000000;
  --gray-300: #edf3f5;
  --gray-400: #e1eaed;
  --gray-600: #b4c6cc;
  --gray-800: #91a8b0;

  /* Fonts */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  background-color: white;
}

[data-theme="dark"] {
  --silver: #0a0c0d;
  --orange: #fb4a01;

  --body-bg: #0a0c0d;
  --body-color: #edf3f5;
  --gray-300: #15191b;
  --gray-400: #282e31;
  --gray-600: #282e31;
  --gray-800: #9aa2a6;
  --gray-900: #50585c;
  --gray-950: #31373a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  /* background-color: var(--silver); */
  /* overflow-x: hidden; */
}

body {
  /* background-color: var(--background); */
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */

main {
  /* background-color: var(--silver); */
}

#post_block_info {
  margin-left: 1rem;
}
