.article {
  padding: 2.5rem;
  border-radius: 8px;
  background-color: #fff;

  h1 {
    font-size: var(--font-size-lg);
    font-weight: 900;
  }

  h2 {
    // font-size: 2.5rem;
    font-size: var(--font-size-md);
    font-weight: 900;
  }

  h3 {
    font-size: var(--font-size-md);
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  ol,
  ul {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }

  p,
  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

[data-theme="dark"] .article {
  background-color: var(--body-bg);
  color: var(--body-color);
  padding: 0rem;
  padding-right: 1rem;
}

.featuredImage {
  position: relative;
  height: 450px;

  img {
    object-fit: cover;
    border-radius: 8px;
  }
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 1rem;
}

.avatar {
  display: flex;
}

.terms {
  display: flex;
  align-items: center;

  a {
    &:hover {
      color: var(--orange);
      transition: color 0.1s ease-in-out;
    }
  }
}
